In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from fancyimpute import KNN
from sklearn.preprocessing import OrdinalEncoder
plt.style.use('ggplot')

In [2]:
df = pd.read_csv('../.gitignore/PPP_data_to_150k.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91018 entries, 0 to 91017
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   LoanAmount     91018 non-null  float64
 1   City           91017 non-null  object
 2   State          91018 non-null  object
 3   Zip            91017 non-null  float64
 4   NAICSCode      88767 non-null  float64
 5   BusinessType   90949 non-null  object
 6   RaceEthnicity  91018 non-null  object
 7   Gender         91018 non-null  object
 8   Veteran        91018 non-null  object
 9   NonProfit      3016 non-null   object
 10  JobsRetained   82822 non-null  float64
 11  DateApproved   91018 non-null  object
 12  Lender         91018 non-null  object
 13  CD             91018 non-null  object
dtypes: float64(4), object(10)
memory usage: 9.7+ MB

In [3]:
df2 = df[~df.RaceEthnicity.str.contains("Unanswered")]

In [4]:
ethnicities = df2['RaceEthnicity'].unique()

In [5]:
def split_ethnicities(ethnicities):
    dataframes = [df2[df2['RaceEthnicity'] == name] for name in ethnicities]
    return dataframes

In [6]:
white_df, hispanic_df, am_indian_alaska_df, asian_df, black_df, puerto_rican_df = split_ethnicities(ethnicities)

In [7]:
ethnicity_dfs = [white_df, hispanic_df, am_indian_alaska_df, asian_df, black_df, puerto_rican_df]

In [8]:
chart_colors = ['blue', 'red', 'green', 'orange', 'yellow', 'black']

In [9]:
# average loan amount for each ethnicity
def avg_loan_by_ethnicity(ethnicities, ethnicity_dfs):
    '''
    Computes average loan amount for each dataframe in inputted list.

    Returns: Dictionary of averages for each ethnicity in the form of ethnicity:average
    '''
    avg_loan = {eth:round(df['LoanAmount'].mean(),2) for eth, df in zip(ethnicities, ethnicity_dfs)}
    return avg_loan
ethnicity_avg_loan = avg_loan_by_ethnicity(ethnicities, ethnicity_dfs)
ethnicity_avg_loan

{'White': 46412.07,
 'Hispanic': 35137.54,
 'American Indian or Alaska Native': 45856.46,
 'Asian': 41364.28,
 'Black or African American': 29041.72,
 'Puerto Rican': 4375.0}

In [10]:
white_avg, hispanic_avg, am_indian_alaska_avg, asian_avg, black_avg, puerto_rican_avg = avg_loan_by_ethnicity(ethnicity_dfs)

TypeError: avg_loan_by_ethnicity() missing 1 required positional argument: 'ethnicity_dfs'

In [ ]:
ethnicity_avg_loans = [white_avg, hispanic_avg, am_indian_alaska_avg, asian_avg, black_avg, puerto_rican_avg]

In [ ]:
#graph loan amounts 
def average_loan_ethnicity(ethnicity_avg_loan, chart_colors, save_loc):
    fig, ax = plt.subplots(1, figsize=(12,4), dpi=700)
    keys = ethnicity_avg_loan.keys()
    averages = ethnicity_avg_loan.values()
    bar = ax.bar(keys, averages)
    for i in range(len(ethnicity_avg_loan)):
        bar[i].set_color(chart_colors[i])
    plt.xticks(rotation=45, fontsize=12)
    ax.set_xlabel('Ethnicity', fontsize= 16)
    ax.set_ylabel('Average Loan Amount in $', fontsize= 16)
    ax.set_title('Average Loan Amount by Ethnicity in Colorado', fontsize=18)
    
    plt.savefig(save_loc, bbox_inches='tight')

In [ ]:
average_loan_ethnicity(ethnicity_avg_loan, chart_colors, '../images/avg_loan_ethnicity.png')

In [11]:
# #impute missing ethnicities
# step 1: convert all unanswered fields in race ethnicity to Nan values
df.loc[df['RaceEthnicity']=='Unanswered','RaceEthnicity']=np.nan

In [12]:
#encode categorical data to numerical values
encoder = OrdinalEncoder()

#list of categorical variables
categ_cols = df[['City','State','BusinessType','RaceEthnicity','Gender','Veteran','NonProfit','Lender','CD','DateApproved']]

#encode non-null data and replace it in the original data
def encode(df):
    nonulls = np.array(df.dropna())
    reshape = nonulls.reshape(-1,1)
    impute = encoder.fit_transform(reshape)
    df.loc[df.notnull()] = np.squeeze(impute)
    return df

for col in categ_cols:
    encode(df[col])
df.head()

/Users/jenniferoshea/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/jenniferoshea/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/jenniferoshea/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/jenniferoshea/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/jenniferoshea/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/jenniferoshea/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/jenniferoshea/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/jenniferoshea/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/jenniferoshea/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/jenniferoshea/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

,LoanAmount,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,NonProfit,JobsRetained,DateApproved,Lender,CD
0,149995.0,537,0.0,80134.0,541618.0,13,5,2.0,1.0,NaN,9.0,16.0,468.0,7.0
1,149947.0,610,0.0,81615.0,NaN,5,NaN,2.0,1.0,NaN,11.0,20.0,866.0,6.0
2,149945.0,198,0.0,80221.0,221115.0,5,NaN,2.0,1.0,NaN,19.0,15.0,263.0,4.0
3,149925.0,488,0.0,80132.0,541940.0,1,NaN,0.0,0.0,NaN,15.0,4.0,503.0,7.0
4,149900.0,198,0.0,80230.0,484121.0,13,NaN,2.0,1.0,NaN,9.0,16.0,217.0,4.0

In [13]:
#drop nonprofit column
df.drop('NonProfit', axis=1,inplace=True)

In [14]:
df.head()

,LoanAmount,City,State,Zip,NAICSCode,BusinessType,RaceEthnicity,Gender,Veteran,JobsRetained,DateApproved,Lender,CD
0,149995.0,537,0.0,80134.0,541618.0,13,5,2.0,1.0,9.0,16.0,468.0,7.0
1,149947.0,610,0.0,81615.0,NaN,5,NaN,2.0,1.0,11.0,20.0,866.0,6.0
2,149945.0,198,0.0,80221.0,221115.0,5,NaN,2.0,1.0,19.0,15.0,263.0,4.0
3,149925.0,488,0.0,80132.0,541940.0,1,NaN,0.0,0.0,15.0,4.0,503.0,7.0
4,149900.0,198,0.0,80230.0,484121.0,13,NaN,2.0,1.0,9.0,16.0,217.0,4.0

In [ ]:
df_imputed = KNN(k=3).fit_transform(df)

In [ ]:
# df_imputed.head()